<aside>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>
                {% for page in site.pages %} {% if page.title %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %} {% endfor %}
            </ul>
            <div class="nim-basics">
                <ul>
                    <li>
                        <a href="https://narimiran.github.io/nim-basics/">Nim Basics</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</aside>

<header>
</header>