$content-width: 700px;
$main: #fcfaf7;
$font-style: "Merriweather", "Noto Serif", "DejaVu Serif", serif;
$font-size: 1.1em;
$font-color: #073642;
$link-color: #268bd2;
$link-hover-color: #cb4b16;
$heading-font: "Open Sans", "Fira Sans", "Noto Sans", "DejaVu Sans", sans-serif;
$code-font: "Fira Mono", "Hack", "Noto Sans Mono", "DejaVu Sans Mono", monospace;
$heading-font-color: #cb4b16;
$heading-background: #586e75;
$light-gray: #93a1a1;
$light: #eeebe2;
$header: #cb4b16;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}