body {
    background: $main;
    margin: 0;
    color: $font-color;
    font-family: $font-style;
    font-size: $font-size;
    line-height: 160%;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
    font-weight: bold;
    font-family: $heading-font;
    line-height: 1.25;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    letter-spacing: -0.5px;
}
h1 {
    font-size: 200%;
    a,
    a:visited {
        text-decoration: none;
        color: $heading-font-color;
    }
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
}
blockquote {
    // border-left: 4px solid $light-gray;
    box-shadow: -6px 3px 6px -3px $light-gray;
    background-color: $light;
    padding: 0 20px;
    margin: 2.0em;
    font-size: 90%;
    font-style: italic;
    p {
      padding: 10px 0px;
    }
    code {
      font-style: normal;
    }
}
code { // inline code
    font-family: $code-font;
    font-size: 80%;
    letter-spacing: -0.5px;
    background-color: $light;
    border-radius: 4px;
}
.highlight { // code block
    padding: 6px;
}
a,
a:visited {
    color: $link-color;
    text-decoration: none;
}
a:hover {
    color: $link-hover-color;
    text-decoration: underline;
}
header {
    margin: 2em;
    height: 0vh;
    display: flex;
}
main {
    max-width: $content-width;
    margin: 0 auto;
}
time {
    color: $light-gray;
}

table{
    border-collapse: collapse;
    min-width: 80%;
    margin: 2em auto;
    font-size: 90%;
}
th{
    border-bottom: 1px solid $font-color;
    padding: 0.5em 0.25em;
}
td{
    border-bottom: 2px solid $light;
    padding: 0.5em 0.25em;
}
sup { // footnote marks shouldn't change line-height
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.container {
    max-width: $content-width;
    margin: 0 auto;
}

.center-image {
    margin: 0 auto;
    display: block;
}

.footnotes {
  font-size: 80%;
  line-height: 150%;
  margin-top: 4em;
}

article {
  margin: 0 8px 6em 8px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    background: $main;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 2px 12px -4px $light-gray;
    nav {
        float: left;
        max-width: $content-width;
        width: 100%;
        margin: 0 8px;
        text-align: right;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                float: left;
                position: relative;
                a {
                    text-decoration: none;
                    display: block;
                    padding: 0.7em 2em 0.7em 0em;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 90%;
                    line-height: 1;
                    &:hover,
                    &:active {
                        background: $main;
                        text-decoration: none;
                    }
                }
            }
        }
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }
}

div.nim-basics {
    float: right;
}

@media screen and (max-width: $small-width) {
    body {
        font-size: 0.8 * $font-size;
    }
    main {
        max-width: 100%;
    }
}

